$colors: (
  "primary": #a1cae3,
  "secondary": #f7ea57,
  "lake": #b7efe0,
  "lightBlue": #e8f6fe,
  "gray": #9e9e9e,
  "blueGray": #546975,
  "white": #fff,
  "black": #333,
  "pink": #f8e7e5,
  "lightGray": #eeeeee50,
);

@each $name, $color in $colors {
  .c-#{$name} {
    color: $color !important;
  }

  .bg-#{$name} {
    background-color: $color !important;
  }

  .hover-c-#{$name} {
    &:hover {
      color: $color;
    }
  }

  .hover-bg-#{$name} {
    &:hover {
      background-color: $color;
    }
  }
}
.cursor-point {
  cursor: pointer;
}

$layouts: (
  "center": (
    display: flex,
    justify-content: center,
    align-items: center,
  ),
  "start": (
    display: flex,
    justify-content: flex-start,
    align-items: center,
  ),
  "end": (
    display: flex,
    justify-content: flex-end,
    align-items: center,
  ),
);

@each $name, $props in $layouts {
  .f-#{$name} {
    @each $property, $value in $props {
      #{$property}: $value;
    }
  }
}
.w-32 {
  width: 32%;
}

.f-col-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.f-col-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.w-10 {
  width: 10%;
}
