// font family setting
@font-face {
  font-family: "ChenYuluoyan";
  src:
    local("ChenYuluoyan-Thin-Monospaced"),
    url("./font/ChenYuluoyan-Thin-Monospaced.ttf") format("truetype");
}

.font-special {
  font-family: "ChenYuluoyan";
}

$colors: (
  "primary": #a1cae3,
  "secondary": #f7ea57,
  "lake": #b7efe0,
  "lightBlue": #e8f6fe,
  "gray": #9e9e9e,
  "blueGray": #546975,
  "white": #fff,
  "black": #333,
  "pink": #f8e7e5,
  "lightGray": #eeeeee50,
);

@each $name, $color in $colors {
  .c-#{$name} {
    color: $color !important;
  }

  .bg-#{$name} {
    background-color: $color !important;
  }

  .hover-c-#{$name} {
    &:hover {
      color: $color !important;
    }
  }

  .hover-bg-#{$name} {
    &:hover {
      background-color: $color !important;
    }
  }
}

$layouts: (
  "center": (
    display: flex,
    justify-content: center,
    align-items: center,
  ),
  "start": (
    display: flex,
    justify-content: flex-start,
    align-items: center,
  ),
  "end": (
    display: flex,
    justify-content: flex-end,
    align-items: center,
  ),
);

@each $name, $props in $layouts {
  .f-#{$name} {
    @each $property, $value in $props {
      #{$property}: $value;
    }
  }
}

.f-end-end {
  display: flex;
  align-content: end;
  align-items: flex-end;
  justify-content: flex-end;
}

.f-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f-col-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.f-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.cursor-pointer {
  cursor: pointer;
}

.w-fit {
  width: fit-content;
}
